
<style>
body{
background-image:url(jainimage.jpg);
background-size:cover;
font-family:Arial,Helvetica,sans-serief;
background-repeat=no-repeat;
}

input[type=text],input[type=password]
{   
	width:60%;
	padding:10px 4px;
	margin:8px 0;
	display:inline-block;
	border:1px solid #ccc;
	box-sizing:border-box;
	text-align:center;
	align:center;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
button:hover {
  opacity: 0.8;
}
/* Center the image and position the close button */



placeholder{
align:right;
}

div{
	border:2px solid black;
	margin-top:100px;
	margin-bottom:100px;
	margin-right:10px;
	margin-left:100px;
}
.loginbox{
	width:400px;
	height:480px;
	background:rgba(0,0,0,0.5);
	color:#fff;
	top:40%;
	left:45%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	
}
.jainimage{
	width:100px;
	height:100px;
	border-radius:50px;
	position:absolute;
	top:-50px;
	left:40%
	
}

a{
background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
img.bg{
	min-height:150px;
	min-width:1024px;
	width:100%;
	height:auto;
	top:0;
	position:fixed;
}
	
	
	
	
	
	
	
	